@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sedan+SC&display=swap');

:root {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.contentWrapper{
  max-width: 1280px;
  margin: 0;
  padding: 0.75em 115px;
}

header{
  width: 100vw;
  background-color: #2A3662;
  font-family: "Lato", sans-serif;
  color: white;
  display: inline-block;
}

#headerContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

#siteName{
  display: flex;
  align-items: center;
  gap: 0.8em;
}

#siteName img{
  height: 35px;
  width: auto;
}

#siteName h2{
  font-weight: 500;
  font-family: "Sedan SC", serif;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  margin: 0;
}

#navLinks{
  display: flex;
  gap: 2em;
  padding: 0;
  align-items: center;
}

header a{
  color: white;
}

li{
  list-style: none;
}

footer{
  background-color: #2A3662;
  margin-top: 5em;
}

#footer{
  width: 100vw;
  color: white;
}

h1{
  margin: 0;
  font-family: "Amatic SC", sans-serif;
  color: #2A3662;
  font-size: 4em;
}

#aboutContent{
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
}

#aboutText{
  text-align: center;
  width: 980px;
}

#gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 1.5em 0;
}

.contentContainer{
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card{
  border: 1px black solid;
  color: black;
}

.card img{
  height: 275px;
  object-fit: cover;
}

.cardText{
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cardText p, .cardText h2{
  margin: 0;
}

.location{
  display: flex;
  align-items: center;
  gap: 5px;
}

.location img{
  height: 25px;
  width: 25px;
}

.pageTitle{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.pageTitle h1{
  margin-bottom: 0.15em;
}

#weatherContainer{
  margin-top: 1em;
  border: 2px solid #2A3662;
  border-radius: 30px;
  grid-column: 3 / span 1;  /* Placing it in the fourth column */
  grid-row: 1 / span 2; 
}

#weatherContent{
  padding: 2em;
}

#weatherContent h3{
  margin-top: 0;
}

#currentWeather{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin-bottom: 2em;
}

#weatherData{
  display: flex;
  flex-direction: column;
  gap: 1.15em;
}

#weatherData p{
  margin: 0;
}

#temp{
  font-size: 3em;
}

#lowHigh{
  display: flex;
  gap: 1em;
}

.bold{
  font-weight: 700;
}

.btn{
  background-color: #2A3662;
  border-radius: 10px;
  padding: 0.5em 1.5em;
  display: inline-block;
}

.btn a{
  color: white;
}

.border{
  border: 2px solid #2A3662;
  border-radius: 30px;
  margin-top: 2em;
}

.detailsContent{
  padding: 70px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 4em;
}

.detailsDate, #detailsAvailability{
  margin-top: 0;
}

.detailsImg{
  height: 327px;
  object-fit: cover;
}

.content{
  padding: 50px 70px;
}

.cardText .heart{
  text-align: right;
  margin-top: -1em;
}

.cardText .heart img{
  height: 30px;
  width: auto;
}

.detailsInfo .heart{
  text-align: right;
}

.detailsInfo .heart img{
  height: 40px;
  width: auto;
}

.colorAvailable{
  color: #2A3662;
}

.colorUnavailable{
  color: #CC5454;
}

.actionBtns{
  display: flex;
  gap: 0.5em;
}

.btn.edit{
  background-color: #FFEEC2;
}

.btn.edit a{
  color: black;
}

.btn.delete{
  background-color: #CC5454;
  color: white;
}

.divider{
  height: 2px;
  background-color: #2A3662;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

label{
  font-weight: 500;
}

input, textarea, select{
  width: 800px;
  border-radius: 5px;
  border: solid 0.5px black;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  padding: 0.5em;
}

input{
  height: 20px;
}

textarea{
  height: 50px;
}

.btn.form{
  border: none;
  color: white;
  font-size: 1em;
}

.btn.cancel{
  background-color: white;
  border: solid 1.5px #2A3662;
}

.btn.cancel a{
  color: #2A3662;
}

.adminHeading{
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
}

.registered{
  color: #2A3662;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.registrationContent{
  padding: 0 50px 50px 70px;
}

.bookingHeading{
  font-size: 1.2em;
}

.participant{
  padding: 0.5px 0;
}

.btn.deleteBooking{
  background-color: white;
  border: solid 1.5px #CC5454;
  color: #CC5454;
}

.adminList{
  padding-top: 50px;
}

.adminListTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.btn.add{
  height: fit-content;
}

.addContainer{
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.formContainer{
  padding-top: 20px;
}

.errorMessage{
  color: #CC5454;
}

.iconColor{
  color: #2A3662;
}

.participantAction{
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 1em;
}

.participantAction p{
  margin: 0;
}

.participantAction.remove{
  padding-bottom: 0.5em;
}

.profileIcon{
  color: white;
  font-size: 2.5em !important;
}

.heartIcon{
  font-size: 2em !important;
}